/* NON DEVE ESSERE RESPONSIVE */


/* nella cartella img ci sono le palette di colori */


/* C'è un file "image.png" che lo da come formato sconosciuto, a cosa si riferisce? */


/* prendi il font da google */


/* crea una classe di debug in modo da vedere le altezze - poi però ELIMINALA!!! */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightcoral;
}

.contenitore{
    width: 1300px;
    max-width: 60%;
    margin: 0 auto;
}


/* riutilizzabili */
.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
}

.green{
    color: #00aba8;
}

.white{
    color: #fff;
}

/* usa il 900 per il jumbotron */
/* usa il 700 per i titoli delle varie sezioni */
/* usa il 400 per le descrizioni */



/* header-top */
.header-top,
.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c0c2d1;
    height: 2.5rem;
    font-size: 0.8rem;
}

#h-top{
    background-color: #1c333f;
}

.contatti{
    display: flex;
}

.det-contatti{
    padding: 0 10px;
}

.det-contatti > i{
    padding: 0 10px;
}

.social{
    padding-left: 10px;
}

.social > i {
    padding: 0 15px;
}



/* header-bottom */
#h-bottom{
    height: 600px;
    background-image: url(../img/bg-4.jpg);
    background-size: cover;
    position: relative;
}

.header-bottom{
    padding-top: 13px;
}

ul.options{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    padding: 0 10px;
    color: #f9f9f9;
}



/* jumbotron */
.jumbotron{
    color: #c0c2d1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-green{
    padding: 10px;
    background-color: #008685;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-transp{
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #008685;
    border-radius: 5px;
}

.btn-white{
    padding: 10px;
    background-color: white;
    color: #008685;
    border: 1px solid #008685;
    border-radius: 5px;
}

.jumbotron h2{
    padding-top: 10px;
    width: 400px;
    font-size: 3.5rem;
}

span.sottolineo{
    background-image: linear-gradient(transparent 0.6em, #006967 0.6em, #006967 1em);
    border-radius: 5px;
    
}

p.title{
    width: 400px;
    font-size: 1.2rem;
    padding: 20px 0;
}

.jumbotron button{
    margin-right: 10px;
}



/* section human */
#human{
    background-color: #ecf5ed;
}

.punti{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 30px 30px;
    margin: 90px 0;
    width: calc(100% / 3 - 10px);
    border-radius: 10px;
}

.icona > i{
    background-color: #ecf5ed;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 50%;
    color: teal;
}

.box h4{
    padding: 15px 0;
    text-transform: capitalize;
}

.box p{
    color: #5d6d76;
}

.cc{
    margin-left: 25px;
    margin-right: 25px;
}



/* sezione company */

#company{
    height: 500px;
    position: relative;
}

#bloccosx{
    background-color: white;
    height: 100%;
    width: 50%;
    justify-content: flex-end;
}

#bloccodx{
    /* background-color: aqua; */
    width: 50%;
    background-image: url(../img/about-5.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.effettoUp{
    height: 50px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.effettoDown{
    height: 50px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#company .btn-green{
    margin-right: 10px;
}