<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <!-- link cdn fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>NexGen</title>
</head>
<body>
    <div id="app">

        <header>

            <!-- header-top -->
            <section id="h-top">

                <div class="header-top contenitore">

                    <div class="capitalize">open hours: mon - sat - 9:00 - 18:00</div>
                    <div class="contatti">
                        <div class="det-contatti"><i class="fas fa-phone-alt"></i>&plus;1&#40;305&#41; 1234-5678</div>
                        <div class="det-contatti"><i class="fas fa-envelope"></i>hello&#64;example.com</div>
                        <div class="social">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>

                </div>

            </section>

            <!-- header bottom -->
            <section id="h-bottom">

                <div class="header-bottom contenitore">
                
                    <div class="logo">qui va il logo che manca</div>
                    <nav>
                        <ul class="options uppercase">
                            <li v-for="elements in menu">{{elements}}</li>
                            <li><i class="far fa-user"></i></li>
                            <li><button class="uppercase btn-green">get in touch</button></li>
                        </ul>
                    </nav>
                
                </div>

                <!-- jumbotron -->
                <div class="jumbotron contenitore">
                    <p class="green uppercase">human resources</p>
                    <h2 class="white capitalize">get more <span class="sottolineo">productivity</span></h2>
                    <p class="title">Planning, recruitment and selection process and performance evaluation of employees.</p>
                    <div>
                        <button class="btn-green uppercase">get in touch</button>
                        <button class="btn-transp uppercase">read more</button>
                    </div>
                </div>

            </section>

        </header>

        <main>

            <!-- sezione human -->
            <section id="human">

                <div class="punti contenitore">

                    <div class="box">
                        <div class="icona"><i class="far fa-user"></i></div>
                        <h4>human capital</h4>
                        <p>Humanizing business: Harness the power of technology to improve the way people work.</p>
                    </div>

                    <div class="box cc">
                        <div class="icona"><i class="fas fa-chart-pie"></i></div>
                        <h4>core business</h4>
                        <p>It takes innovative approaches to transform, modernize, and run existing platforms.</p>
                    </div>

                    <div class="box">
                        <div class="icona"><i class="fas fa-plus"></i></div>
                        <h4>performance</h4>
                        <p>Archieving maximum impact and value from investments in finance and supply chain.</p>
                    </div>


                </div>

            </section>

            <!-- sezione company -->
            <section id="company" class="flex">
                <div class="effettoUp"></div>

                <div id="bloccosx">

                    <div class="descrizione-company contenitore">

                        <p class="uppercase green">about the network</p>
                        <h2 class="capitalize"><span class="capitalize evidenziatore">the</span> company</h2>
                        <p class="lightgrey">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit earum quaerat voluptas dolorem ipsam obcaecati dicta</p>
                        
                        <div class="dati flex">
                        
                            <div class="specifica-dati flex-column" id="employees">
                                <div class="green">0</div>
                                <h4 class="capitalize">employees</h4>
                                <p class="lightgrey">lorem ipsum dolor sit amet.</p>
                            </div>

                            <div class="specifica-dati flex-column" id="employees">
                                <div class="green">0</div>
                                <h4 class="capitalize">partners</h4>
                                <p class="lightgrey">lorem ipsum dolor sit amet.</p>
                            </div>

                            <div class="specifica-dati flex-column" id="employees">
                                <div class="green">0</div>
                                <h4 class="capitalize">costumers</h4>
                                <p class="lightgrey">lorem ipsum dolor sit amet.</p>
                            </div>
                        
                        </div>

                        <button class="uppercase btn-green">get in touch</button>
                        
                        <button class="uppercase btn-white">read more</button>

                    </div>

                </div>

                <div id="bloccodx"></div>
                <div class="effettoDown"></div>
            </section>

            <!-- sezione actions -->
            <section id="actions">
               
                <div class="contenitore">

                    <p class="uppercase green">we do more for everyone</p>
                    <h2 class="capitalize">actions &amp; <span class="capitalize">projects</span></h2>
                    <ul>
                        <li class="uppercase lightgrey" v-for="el in projects">{{el}}</li>
                    </ul>

                </div>

                <div class="contenitore immagini flex">

                    <div class="immagine" id="img-uno">

                        <div class="oscuramento"></div>                        
                        <p>Academic professional program in social media</p>

                    </div>

                    <div class="immagine" id="img-due">

                        <div class="oscuramento"></div>
                        <p>Presindent's speech at the annual meeting</p>

                    </div>

                    <div class="immagine" id="img-tre">
                    
                        <div class="oscuramento"></div>
                        <p>International business trip in Shanghai</p>
                    
                    </div>
                    
                    <div class="immagine" id="img-quattro">
                    
                        <div class="oscuramento"></div>
                        <p>Technologu workshop with education theme</p>
                    
                    </div>
                    
                    <div class="immagine" id="img-cinque">
                    
                        <div class="oscuramento"></div>
                        <p>Donation of clothes and food to the partner NGO</p>
                    
                    </div>
                    
                    <div class="immagine" id="img-sei">
                    
                        <div class="oscuramento"></div>
                        <p>Confraternization of the prosurement team</p>
                    
                    </div>
                
                </div>
            
            </section>


            <!-- sezione process -->
                <!-- qui va inserito un testo centrato per tutta la sezione -->
                <!-- tieni conto che nella linea da 1 a 5 sia il numero 1 che il numero 5 sono al di fuori
                della larghezza del container generato inizialmente -->
                <!-- 
                    forse il punto con il numero conviene farlo con il position, 
                    mentre per la linea inserisco o un hr nell'Html oppure un content: " " nel Css
                -->
            <!-- /sezione process -->


            <!-- sezione trusted -->
                    <!-- inserisci un titolo ed una descrizione -->
                    <!-- poi fai il copia e incolla della sezione punti -->
            <!-- /sezione trusted -->

        </main>

        <footer>

            <!-- sempre dentro il container crea 2 blocchi:
            
                il sx avrà un grow 1 con un form 
            -->

        </footer>
        


        <!-- 
            
            IL LAYOUT RIMANE PIU SEMPLICE STRUTTURARLO CON I FLEX, 

            MA SE DOBBIAMO AVERE UNA SICURELLA AL 101% ALLORA 

            E' MEGLIO LAVORARE CON IL CLEARFIX - IN TEORIA HA UNA COPERTURA DI DISTRIBUZIONE
            
            (NON SO COME SI DICE) PIU ALTA RISPETTO AI FLEX.

            NEL SITO UFFICIALE OLTRE ALL'INTERAZIONE NUMERICA C'E' L'HEADER TOP CHE SCROLLANDO SCOMPARE 

            E LA NAVBAR DELL'HEADER RIMANE IN VISTA, IN QUEL CASO CAMBIARE LA STRUTTURA!!!
        
        -->


        <!-- 
            
            PER LA PARTE DI JS (UTILIZZARE VUE) INSERISCI GLI LI DA UN ARRAY E CICLA NELL'HTML
        
            LE INTERAZIONI NUMERICHE E' MEGLIO FARLE CON JAVASCRIPT O CON IL CSS?

            (" TUTTO QUELLO CHE E' POSSIBILE FARE CON IL CSS FATELO CON IL CSS POI PASSATE A JAVASCRIPT "  cit. Cristina)

            SE CI SONO CON I TEMPI SALVO IN UN ARRAY I DATI INSERITI DALL'UTENTE NEL FORM
        
        -->






    </div>
    <script src="vue/script.js"></script>
</body>
</html>